body {
  font-family: 'Montserrat',sans-serif !important;
}
.navbar,
.app-footer {
  background: #FF5733 !important;
}
.navbar-collapse {
  flex-direction: row-reverse;
}
.navbar-brand a {
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.2em;
  border:2px solid #fff;
  padding:5px;
}
.card-header {
  font-weight: 600;
}
.card-header,
.card-footer {
  background: #F9D7BB !important;
  color: #333;
  border: none;
}
.btn {
  background: #FF5733 !important;
  border:none !important;
  padding:10px;
}
.form-group input,
.form-group label {
  margin:10px 0px;
}